* {
    margin: 0;
    padding: 0;
}

/* this is header - start  */

.header {
    background: rgba(255, 144, 14, 0.1);
    height: 100vh;
    width: 100%;

}

.nav-header {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.header-option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    list-style: none;
}

.header-info {
    margin-top: 50px;
    display: grid;
    justify-content: center;
}

.header-info-text {
    text-align: center;
}

.header-btn {
    height: 64px;
    width: 180px;
    left: 870px;
    top: 463px;
    border-radius: 8px;
    background:#FF900E;
    color: white;
    border: 5px solid #FF900E;
}

.image-section img {
    width: 90vw;
}

/* this is header - end  */